@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 40 100% 95%;
    --foreground: 40 5% 10%;
    --card: 40 50% 90%;
    --card-foreground: 40 5% 15%;
    --popover: 40 100% 95%;
    --popover-foreground: 40 100% 10%;
    --primary: 40 97% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 2 30% 85%;
    --muted-foreground: 40 5% 35%;
    --accent: 2 30% 80%;
    --accent-foreground: 40 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 40 5% 90%;
    --border: 40 30% 50%;
    --input: 40 30% 20%;
    --ring: 40 97% 28%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 33 50% 10%;
    --foreground: 33 5% 90%;
    --card: 33 50% 10%;
    --card-foreground: 33 5% 90%;
    --popover: 33 50% 5%;
    --popover-foreground: 33 5% 90%;
    --primary: 33 59% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -5 30% 25%;
    --muted-foreground: 33 5% 64%;
    --accent: -5 30% 25%;
    --accent-foreground: 33 5% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 33 5% 90%;
    --border: 33 30% 50%;
    --input: 33 30% 50%;
    --ring: 33 59% 30%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
